{% extends 'base.html' %}


{% block head %}
<title>Edit Posts</title> 
{% endblock %}

{% block body %} 

<h1>All Posts</h1>
<hr>
<h2>Create New Blog Post:</h2>
    <form action='/posts' method = 'POST'>
        Title: <input type='text' name ='title' id ='title'>
        <br>
        Author:<input type="text" name="author" id="author">
        <br>
        Posts:<input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Post">
    </form>
<hr>

{% endblock %}